@font-face {
    font-family: 'Arual';
    src: url('../webucm/Arual.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arual","Helvetica Neue",sans-serif;
    letter-spacing: 2px;
    background: #fff;
    line-height: 1.3;
}

    /* Títulos constantes */
    header {
        display: flex;  /* elementos en línea */
        justify-content: flex-end; /* elementos hacia la derecha */
        align-items: center; /* alineados verticalmente */
        padding: 30px 40px;
        background: white;
    }

    /* menu */
    nav {
        display: flex; /* enlaces colocados uno tras otro */
        gap: 40px;
        margin-right: 70px;
    }
    
    /* enlaces */
    nav a {
        text-decoration: none; /* para quitar subrayado */
        color: #999;
        font-size: 15px;
        font-weight: 400;
        position: relative; /* permite dibujar la raya de abajo */
        transition: 0.3s;
        cursor: pointer;
    }

    nav a:hover {
        color: #000;
    }

    /* cuando un enlace esta active */
    nav a.active {
        color: #000; /* cambia a negro*/
    }

    nav a.active::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #000;
    }

    .logo {
        height: 100px;
        object-fit: contain;
    }
       .logo {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.logo:hover,
.logo:active {
    transform: scale(1.1);
}
/* ===== LIGHTBOX ===== */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}


   